.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  gap: 10px;
}

.tasks {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}

.task {
  display: flex;
  width: 75%;
  border-top: 1px solid #808080;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
}

.check {
  height: 20px;
  width: 20px;
}

.content {
  padding-left: 20px;
}

.content b, .content p {
  word-break: break-word;
}

.delete {
  margin-left: auto;
  height: fit-content;
  width: fit-content;
  border: none;
  background-color: inherit;
}

.input {
  display: flex;
  gap: 20px;
}

.form {
  flex: 1;
}

.text {
  padding-left: 15px;
  border: 1px solid #808080;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  box-sizing: border-box;
}

.text:focus {
  outline: none
}

.button {
  padding: 0;
  border: none;
  background-color: inherit;
}
